body {
  font-family: 'Open Sans', sans-serif;
}

h2, h3 {
  font-weight: bold;
}

h3 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}

.container{
    max-width: 752px;
}

#home {
    margin-top: 6em;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 80%;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: .6em .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
